@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My Name is Sydney Kovach and I am currently a senior at Ohio University studying MIS. I like dogs, Chinese food and skiing.</p>
