@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Sydney Kovach<br />
   I currently live in Athens, Ohio where I study towards my major
    My current mailing address is 22 North College Street. <br />
    <abbr title="Phone">P:</abbr>
     Contact me at 513.830.4308
</address>

<address>
    <strong>Shoot me an email at</strong>   <a href="sk072215@ohio.edu">sk072215@ohio.edu</a><br />
 
</address>