@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MIS 4200</h2>
        <p>
            A class at Ohio University that provides a refresher on system development 
            techniques before providing students with experience working
            on an information system consulting/development project using live clients.
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/academics/undergrad-majors/management-information-systems/undergraduate-degree/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About the Creator</h2>
        <p>My name is Sydney Kovach and I am a senior enrolled in MIS 4200.</p>
        <p><a class="btn btn-default" href="https://linkedin.com/in/sydneykovach/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>This Website</h2>
        <p>This Website is the main assignment for MIS 4200 where I will create my own application.</p>
        <p><a class="btn btn-default" href="https://aspnet.cob.ohio.edu">Learn more &raquo;</a></p>
    </div>
</div>